<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Prints the obtained item in the console, will contain spoilers. -->
    <add key="showObtainedItems" value="false"/>
    <!-- Include Geo, Lifeblood and Soul Totems when taking a screenshot. -->
    <add key="captureExtras" value="false"/>
    <add key="captureShopkeepers" value="false"/>
    <!-- Screenshot delays for normal items and progression items in milliseconds. -->
    <add key="cinematicScreenshotDelay" value="1500"/>
    <add key="normalScreenshotDelay" value="800"/>
    <!-- The virtual keycode used to print a screenshot in steam. 0x78 = VK_F12 -->
    <!-- VK Documentation: https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes -->
    <add key="screenshotKeyCode" value="0x7B"/>
  </appSettings>
</configuration>